<div class="row">
  <div class="col-lg-12 col-md-12">
    <h3 class="text-center mt-5 mb-5 text-white">
      Formularios para Tr&aacute;mites
    </h3>
  </div>
</div>

<div
  class="row d-flex align-items-center justify-content-center pt-5 pb-5 bg-light vh-100"
>
  <div class="col-lg-10 col-md-12">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Formulario de Constancia de Disponibilidad</td>
          <td class="text-center">
            <a
              class="btn btn-primary"
              href="assets/documents/DISPONIBILIDAD.pdf"
              download="Disponibilidad.pdf"
            >
              <i class="fa-solid fa-download"></i> Descargar Formulario</a
            >
          </td>
        </tr>

        <tr>
          <td>Formulario de Solicitud de Nuevo Servicio</td>
          <td class="text-center">
            <a
              class="btn btn-primary"
              href="assets/documents/NUEVO SERVICIO.pdf"
              download="Nuevo Servicio.pdf"
            >
              <i class="fa-solid fa-download"></i> Descargar Formulario</a
            >
          </td>
        </tr>

        <tr>
          <td>Formulario de Solicitud de Afiliaci&oacute;n</td>
          <td class="text-center">
            <a
              class="btn btn-primary"
              href="assets/documents/SOLICITUD AFILIACION ABONADOS.pdf"
              download="Solicitud de Afiliacion.pdf"
            >
              <i class="fa-solid fa-download"></i> Descargar Formulario</a
            >
          </td>
        </tr>

        <tr>
          <td>Formulario de Cambio de Nombre</td>
          <td class="text-center">
            <a
              class="btn btn-primary"
              href="assets/documents/CAMBIO NOMBRE.pdf"
              download="Cambio de Nombre.pdf"
            >
              <i class="fa-solid fa-download"></i> Descargar Formulario</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
