
<footer class="bg-primary text-center text-white">
    <div class="container p-4">
      <section class="mb-1">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/AsadaSantaClara" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:asoadm2012@hotmail.com" role="button"
          ><i class="fa-solid fa-envelope"></i
        ></a>

        <a class="btn btn-outline-light btn-floating m-1" href="tel:+50624756400" role="button"
          ><i class="fa-solid fa-phone"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/c/50624756400" role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy;Derechos Reservados Acueducto Santa Clara {{year}}
    </div>
  </footer>