<div class="row d-flex align-items-center justify-content-center bg-light">
  <div class="col-12">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/assets/images/img-edificio.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>

        <div class="carousel-item">
          <img
            src="/assets/images/img-captacion.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>

        <div class="carousel-item active">
          <img
            src="/assets/images/img-edificio2.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>

        <div class="carousel-item">
          <img
            src="/assets/images/img-tanque1.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-4 col-md-12">
      <h3 class="text-center">Misi&oacute;n</h3>
      <p class="text-start">
        Brindar a la comunidad un servicio de agua potable de forma constante,
        de alta calidad, contribuyendo al desarrollo socioeconómico y ambiental
        del entorno y siguiendo los lineamientos institucionales establecidos
        por el AyA.
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <h3 class="text-center">Visi&oacute;n</h3>
      <p class="text-start">
        Ser una empresa modelo en el manejo del recurso hídrico para satisfacer
        las necesidades de consumo de nuestros abonados en armonía con el medio
        ambiente, proyección social y un personal técnico administrativo
        orientado a la calidad en el servicio
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <h3 class="text-center">Valores Corporativos</h3>
      <ul class="text-start">
        <li>Vocación de servicio.</li>
        <li>Respeto.</li>
        <li>Responsabilidad.</li>
        <li>Excelencia en la gestión.</li>
        <li>Democracia.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 lign-items-center justify-content-center">
      <div class="text-center">
        <img
          class="rounded"
          src="/assets/images/logo.png"
          height="300"
          width="300"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
