<div class="lightbox" >
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h3 class="text-center mt-5 mb-5 text-white">Galer&iacute;a</h3>
    </div>
  </div>
  <div class="row mb-2 mb-md-4" style="margin-top: 20px; background-color: white;">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <img
        src="assets\images\tanque.png"
        data-mdb-img="assets\images\tanque.png"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        style="margin-top: 20px;"
      />
      <img
        src= "assets\images\Imagen1.jpg"
        data-mdb-img="assets\images\Imagen1.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen4.jpg"
        data-mdb-img="assets\images\Imagen4.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen7.jpg"
        data-mdb-img="assets\images\Imagen7.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen9.jpg"
        data-mdb-img="assets\images\Imagen9.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen11.jpg"
        data-mdb-img="assets\images\Imagen11.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen13.jpg"
        data-mdb-img="assets\images\Imagen13.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
    </div>
    <div class="col-lg-5" style="background-color: white;">
      <img
        src="assets\images\Imagen2.jpg"
        data-mdb-img="assets\images\Imagen2.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        style="margin-top: 20px;"
      />
      <img
        src= "assets\images\Imagen3.jpg"
        data-mdb-img="assets\images\Imagen3.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen6.jpg"
        data-mdb-img="assets\images\Imagen6.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen8.jpg"
        data-mdb-img="assets\images\Imagen8.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen10.jpg"
        data-mdb-img="assets\images\Imagen10.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src= "assets\images\Imagen12.jpg"
        data-mdb-img="assets\images\Imagen12.jpg"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
    </div>
  </div>
</div>